application_home: /home/vagrant/druw
fits_version: 1.0.5
install_path: /usr/local/bin
ansible_target: localhost
#ansible_target: demoserver
ruby_version: 2.4.1
rails_version: 5.0.1
config_path: "{{ application_home }}/config" 
